
<section class="service_section layout_padding-bottom">
    <div class="container">
      <div class="custom_heading-container">
        <h3 class=" ">
          SERVICE BRICOLAGE
        </h3>
      </div>
    </div>
    
      <div class="service_container ">
        <div class="row">
          <div class="col-md-3">
            <div class="box b-1">
              <div class="img-box">
                <img src="assets/images/am.PNG" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Aménagement
                </h6>
               
            
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/images/el.PNG" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Eléctricité
                </h6>
              
            
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/images/rn.PNG"  alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Renovation
                </h6>
              
               
              </div>
            </div>
          </div>
          
          
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/images/pl.PNG" alt="">
              </div>
              <div class="detail-box">
                <h6>
                 Plomberie
                </h6>
              
                
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
